//@include hero;
@mixin hero {
	font-family: 'Hero', sans-serif;
	font-weight: normal;
}

//@include hero-light;
@mixin hero-light {
	font-family: 'Hero', sans-serif;
	font-weight: lighter;
}

@mixin margin($top:null, $right:null, $bottom:null, $left:null){
	margin-top: $top;
	margin-right: $right;
	margin-bottom: $bottom;
	margin-left: $left; 
}

@mixin circle($color){
	background-color:$color;
	border-radius:50%;
}