// TABLE OF CONTENTS
//
// 1.0 Import stylesheets
// 2.0 General Styles     //links buttons forms
//     2.1 Grid
// 3.0 Typography         //Headings paragraphs
// 4.0 Header
//     4.1 Main Menu
// 5.0 Media
// 6.0 Footer
// 7.0 Portfolio

////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////
//////////////////////// 1.0 Import Stylesheets ////////////////////////////
////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////

@import 'normalize';
@import 'font';
@import 'variables';
@import 'mixins';

/*//////// Start Styling /////////*/

////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////
////////////////////////// 2.0 General Styles //////////////////////////////
////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////
html{
	font-size: 13pt;
}


.container{
	margin: 50px;
}

.content{
	@include margin($top:100px);
}

a{
	text-decoration: none;
}

button, input[type="submit"] {
	@include circle($light-yellow, 150px);
	display: block;
	@include margin($left:auto, $right:auto, $top:75px, $bottom:75px);
	text-align: center;
	vertical-align: middle;
	font-size:1.2rem;
	color: $black;
	a{
		position: relative;
		top: 5px;
		color: $black;
		@include margin($top:5px);
	}
	&#home-button{
		position: relative;
		top: 75px;
	}
}

input[type="text"],input[type="email"]{
	display: block;
	width: 100%;
	margin: 25px 0 25px 0;
	padding: 10px;
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom: 1px solid #bbbbbb;
}

.clear{
	*zoom: 1;

	&:before{
		display: table;
		content: " ";
	}
	&:after{
		display: table;
		content: " ";
		clear: both;
	}
}

/////////////////////////////// 2.1 Grid ///////////////////////////////////

.row{
	clear: both;
}

[class*="grid"]{
	float: left;
	clear: none;
	display:inline-block;
}

.grid-1-12{
	width: 8.3333%;
}

.grid-2-12{
	width: 16.6666%;
}

.grid-3-12{
	width: 25%;
}

.grid-4-12{
	width: 33.3333%;
	&-centered{
		width: 33.3333%;
		display: block;
		float: none;
		margin: 0 auto 0 auto;
	}
}

.grid-5-12{
	width: 41.6666%;
}

.grid-6-12{
	width: 50%;
	&-centered{
		width: 50%;
		display: block;
		margin: 0 auto 0 auto;
		float: none;
	}
}

.grid-8-12{
	width: 66.6666%;
}

.grid-9-12{
	width: 75%;
}

.grid-1-1{
	width: 100%;
}

////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////
///////////////////////////// 3.0 Typography ///////////////////////////////
////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////
body{
	@include hero;
}

blockquote{
	@include hero-light;
}

h1{
	font-size: 3rem;
	color: $black;
}

h2{
	font-size: 2rem;
	color: $black;
}

p{
	@include hero;
	font-size:1em;
	color: $grey;
	line-height: 1.7rem;

}

small{
	@include hero-light;
	font-size: .7em;
	color: $grey;
}

div {
	display: block;
	#pricing 
	p{
		margin:0;
	}

.alert{
	font-size:1.2rem;
	color: darken($blue, 20%);
	line-height: 1.25em;
}

}


////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////
//////////////////////////////// 4.0 Header ////////////////////////////////
////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////

#logo{
	display: block;
	@include margin($right:auto,$left:auto);
	width: 25%;
}



/////////////////////////////// 4.1 Main Menu //////////////////////////////

nav{
	display: block;
	@include margin($top:60px);
	@include hero;
	text-align: center;

	a{
		@include margin($right:50px);
		color: $grey;
	}

	a:last-child{
		@include margin($right:0);
	}
}

////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////
//////////////////////////////// 5.0 Media /////////////////////////////////
////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////

img{
	max-width: 100%;
	clear: none;

	&#about-us{
		@include margin($bottom:50px,$left:16.66%,$right:16.66%);
		max-width: 66.66%;
	}
}

.images-column{
	list-style: none;
	padding: 0;
	img{
		margin-bottom: -4px;
	}
}

.hidden-images{
	display:none;
}

.last-child img{
	margin-bottom: 100px;
}
////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////
//////////////////////////////// 6.0 Footer ////////////////////////////////
////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////

footer{
	padding-top: 100px;

	h1{
		@include hero;
		font-size: 1.1rem;
		color: $black;
		text-align: center;
		margin-bottom: -10px;
	}

	p{
		@include hero-light;
		font-size: .85rem;
		color: $grey;
		text-align: center;
		line-height: 1.5em;
	}

	a{
		color: $grey;
	}
	
	.social_media{
		padding-top:50px;
		
		a{
			img{
				float: right;
				clear: none;
				width: 30px;
				height: 30px;
			}
			&:first-child img{
				@include margin($right:50px);
			}
			&:last-child img{
				@include margin($right:15px);
			}
		}

	}	
}

////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////
/////////////////////////////// 7.0 Portfolio //////////////////////////////
////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////

.back_to_top{
	display: none;
	position: fixed;
	bottom: 100px;
	right: 3%;

	img{
		opacity: .3;
		border: 2px solid $blue;
		border-radius: 50%;
		margin-bottom: 15px;
		margin-left: 7px;
	}

	a{
		display: block;
		color: $blue;
	}
}

////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////
///////////////////////////// 8.0 Media Queries ////////////////////////////
////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////


//iPad Pro (portrait) iPad Air 2 and iPad mini 4 (landscape)
@media screen and (max-width: 1024px){

	#logo{
		width: 40%;
	}

	.grid-4-12-centered{
		width:50%;
	}

	.grid-6-12-centered{
		width:66.6666%;
	}

}

//iPad Air 2 and iPad mini 4 (portrait), and old 800x600 monitors
@media screen and (max-width: 800px){

	.container{
		margin: 50px 20px 20px 20px;
	}

}

//iPhone 6+
@media screen and (max-width: 414px){

	.container{
		margin: 25px 10px 15px 10px;
	}

	nav{
		@include margin($top:30px);

		a{
			@include margin($right:15px);
		}
	}

	h1{
		font-size:2rem;
	}

	p{
		font-size: 1rem;
	}

	footer .social_media{
		clear: both;
		display: block;
		margin: 0 auto 20px auto;
		float: none;
		padding: 0;
		a{

			img{
				float: none;
			}

			&:first-child img{
				margin:0px 0px 0px 25%;
			}
			&:last-child img{
				margin:0px;
			}
		}
	}

	#logo{
		width: 57%;
	}

	img#about-us{
		max-width: 100%;
		margin: 10px 0 20px 0;
	}

	.grid-4-12-centered{
		width: 90%;
	}

	.grid-6-12-centered{
		width: 100%;
	}

	.content{
		@include margin($top:40px);
	}

	.images-column img{
		margin-bottom: -6px;
	}

	.back_to_top{
		img, a{
			display: none;
		}
	}

	footer{
		padding-top:20px;
	}

	footer div.grid-4-12{
		&:first-child{
			display: none;
		}
		&:nth-child(2){
			width: 100%;
			float: none;
			display: block;
			margin: 0 auto 0 auto;
		}
	}

}