// TABLE OF CONTENTS
//
// 1.0 Import stylesheets
// 2.0 General Styles     //links buttons forms
//     2.1 Grid
// 3.0 Typography         //Headings paragraphs
// 4.0 Header
//     4.1 Main Menu
// 5.0 Media
// 6.0 Footer
// 7.0 Portfolio

////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////
//////////////////////// 1.0 Import Stylesheets ////////////////////////////
////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////

@import 'normalize';
@import 'font';
@import 'variables';
@import 'mixins';

/*//////// Start Styling /////////*/

////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////
////////////////////////// 2.0 General Styles //////////////////////////////
////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////

.container{
	margin: 50px;
}

.content{
	@include margin($top:100px);
}

a{
	text-decoration: none;
}

button {
	@include circle($light-yellow, 125px);
	display: block;
	@include margin($left:auto, $right:auto);
	text-align: center;
	vertical-align: middle;
	font-size:1.2em;
	position: relative;
	top: 75px;
	color: $black;
	a{
		position: relative;
		top: 5px;
		color: $black;
		@include margin($top:5px);
	}
}


/////////////////////////////// 2.1 Grid ///////////////////////////////////

.row{
	clear: both;
}

[class*="grid"]{
	float: left;
	clear: none;
	display:inline-block;
}

.grid-1-12{
	width: 8.3333%;
}

.grid-2-12{
	width: 16.6666%;
}

.grid-3-12{
	width: 25%;
}

.grid-4-12{
	width: 33.3333%;
}

.grid-5-12{
	width: 41.6666%;
}

.grid-6-12{
	width: 50%;
}

.grid-8-12{
	width: 66.6666%;
}

.grid-9-12{
	width: 75%;
}

.grid-1-1{
	width: 100%;
}

////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////
///////////////////////////// 3.0 Typography ///////////////////////////////
////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////
body{
	@include hero;
}

blockquote{
	@include hero-light;
}

h1{
	font-size: 3em;
	color: $black;
}

h2{
	font-size: 2.5em;
	color: $black;
}

p{
	font-size:1em;
	color: $grey;
	text-align: justify;
	line-height: 1.5em;
	letter-spacing: .15em;
}


////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////
//////////////////////////////// 4.0 Header ////////////////////////////////
////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////

#logo{
	display: block;
	@include margin($right:auto,$left:auto);
	width: 25%;
}



/////////////////////////////// 4.1 Main Menu //////////////////////////////

nav{
	display: block;
	@include margin($top:60px);
	@include hero;
	text-align: center;

	a{
		@include margin($right:50px);
		color: $grey;
	}

	a:last-child{
		@include margin($right:0);
	}
}

////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////
//////////////////////////////// 5.0 Media /////////////////////////////////
////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////

img{
	max-width: 100%;
	clear: none;
}


////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////
//////////////////////////////// 6.0 Footer ////////////////////////////////
////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////



////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////
/////////////////////////////// 7.0 Portfolio //////////////////////////////
////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////


